<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomeWork</title>
	<link rel="stylesheet" type="text/css" href="../dist/css/style.css">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
	</style>
</head>
<body>
	<section class="u-containerWelcome">
		<div class="Welcome">
			<header class="Header">
				<div class="Header-logo">
					<img src="images/logo.png">
				</div>
				<nav class="Header-navWrap">
					<ul class="Header-nav">
						<li class="Header-navItemActive">
							<a class="Header-navItemLink" href="/">Home</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="/">About</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="/">Work</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="/">Blog</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="/">Contact</a>
						</li>
					</ul>
				</nav>
			</header>
			<div class="Welcome-content">
				<h1 class="Title-welcome">Hi there! We are the new kids on the block</h1>
				<h1 class="Title-welcome">and we build awesome websites and mobile apps</h1>
				<div class="Welcome-buttonContainer">
					<a href="#" class="Button-welcome">Work with us</a>
				</div>
			</div>
		</div>
	</section>
	<section class="u-containerServices">
		<div class="Services">
			<div class="Services-titleMain">
				<h1 class="Title-services">Services we provide</h1>
			</div>
			<div class="Services-titleSecond">
				<h2 class="Title-servicesSecond">We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</h2>
			</div>
			<div class="Services-cardCommon">
				<div class="Services-card">
					<div class="Services-cardImage">
						<img src="images/Services/flag.png">
					</div>
					<div class="Services-cardContent">
						<div class="Services-cardTitle">
							<h1 class="Text-cardServicesTitle">Branding</h1>
						</div>
						<div class="Services-cardText">
							<p class="Text-cardServices">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>		
				</div>
				<div class="Services-card">
					<div class="Services-cardImage">
						<img src="images/Services/pencil.png">
					</div>
					<div class="Services-cardContent">
						<div class="Services-cardTitle">
							<h1 class="Text-cardServicesTitle">Design</h1>
						</div>
						<div class="Services-cardText">
							<p class="Text-cardServices">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
						</div>
					</div>		
				</div>
				<div class="Services-card">
					<div class="Services-cardImage">
						<img src="images/Services/circles.png">
					</div>
					<div class="Services-cardContent">
						<div class="Services-cardTitle">
							<h1 class="Text-cardServicesTitle">Development</h1>
						</div>
						<div class="Services-cardText">
							<p class="Text-cardServices">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
						</div>
					</div>		
				</div>
				<div class="Services-card">
					<div class="Services-cardImage">
						<img src="../src/images/Services/rocket.png">
					</div>
					<div class="Services-cardContent">
						<div class="Services-cardTitle">
							<h1 class="Text-cardServicesTitle">Rocket science</h1>
						</div>
						<div class="Services-cardText">
							<p class="Text-cardServices">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
						</div>
					</div>		
				</div>
			</div>	
		</div>
	</section>
	<section class="u-containerTeam">
		<div class="Team">
			<div class="Team-titleMain">
				<h1 class="Title-team">Meet our beautiful team</h1>
			</div>
			<div class="Team-titleSecond">
				<h2 class="Title-teamSecond">We are a small team of designers and developers, who help brands with big ideas.
				</h2>
			</div>
			<div class="Team-cardCommon">
				<div class="Team-card">
					<div class="Team-cardImage">
						<img src="images/photo.png" class="Team-cardImage--modif">
					</div>
					<div class="Team-cardContent">
						<div class="Team-cardName">
							<h1 class="Text-cardTeamName">ANNE HATHAWAY</h1>
						</div>
						<div class="Team-cardDescription">
							<h1 class="Text-cardTeamDescription">CEO / Marketing Guru</h1>
						</div>
						<div class="Team-cardText">
							<p class="Text-cardTeam">Lorem ipsum dolor sit amet, 
							consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
						</div>
						<div class="Team-social">
							<div class="Team-socialItem">
								<a href="https://www.facebook.com/">
									<img src="images/Link/facebook.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://twitter.com/">
									<img src="images/Link/tweeter.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://ru.linkedin.com/">
									<img src="images/Link/linkedIn.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://www.google.com/">
									<img src="images/Link/mail.png">
								</a>
							</div>						
						</div>
					</div>		
				</div>
				<div class="Team-card">
					<div class="Team-cardImage">
						<img src="images/photo.png" class="Team-cardImage--modif">
					</div>
					<div class="Team-cardContent">
						<div class="Team-cardName">
							<h1 class="Text-cardTeamName">Kate Upton</h1>
						</div>
						<div class="Team-cardDescription">
							<h1 class="Text-cardTeamDescription">Creative Director</h1>
						</div>
						<div class="Team-cardText">
							<p class="Text-cardTeam">Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.</p>
						</div>
						<div class="Team-social">
							<div class="Team-socialItem">
								<a href="https://twitter.com/">
									<img src="images/Link/tweeter.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://ru.linkedin.com/">
									<img src="images/Link/linkedIn.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://www.google.com/">
									<img src="images/Link/mail.png">
								</a>
							</div>						
						</div>
					</div>		
				</div>
				<div class="Team-card">
					<div class="Team-cardImage">
						<img src="images/photo.png" class="Team-cardImage--modif">
					</div>
					<div class="Team-cardContent">
						<div class="Team-cardName">
							<h1 class="Text-cardTeamName">Olivia Vidle</h1>
						</div>
						<div class="Team-cardDescription">
							<h1 class="Text-cardTeamDescription">Lead Designer</h1>
						</div>
						<div class="Team-cardText">
							<p class="Text-cardTeam">Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
						</div>
						<div class="Team-social">
							<div class="Team-socialItem">
								<a href="https://www.facebook.com/">
									<img src="images/Link/facebook.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://twitter.com/">
									<img src="images/Link/tweeter.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://ru.linkedin.com/">
									<img src="images/Link/linkedIn.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://www.google.com/">
									<img src="images/Link/mail.png">
								</a>
							</div>						
						</div>
					</div>		
				</div>
				<div class="Team-card">
					<div class="Team-cardImage">
						<img src="images/photo.png" class="Team-cardImage--modif">
					</div>
					<div class="Team-cardContent">
						<div class="Team-cardName">
							<h1 class="Text-cardTeamName">Ashley Greene</h1>
						</div>
						<div class="Team-cardDescription">
							<h1 class="Text-cardTeamDescription">SEO / Developer</h1>
						</div>
						<div class="Team-cardText">
							<p class="Text-cardTeam">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						</div>
						<div class="Team-social">
							<div class="Team-socialItem">
								<a href="https://www.facebook.com/">
									<img src="images/Link/facebook.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://twitter.com/">
									<img src="images/Link/tweeter.png">
								</a>
							</div>
							<div class="Team-socialItem">
								<a href="https://www.google.com/">
									<img src="images/Link/mail.png">
								</a>
							</div>						
						</div>
					</div>		
				</div>
			</div>
		</div>	
	</section>
	<section class="u-containerSkills">
		<div class="Skills">
			<div class="Skills-titleMain">
				<h1 class="Title-skills">We got skills</h1>
			</div>
			<div class="Skills-titleSecond">
				<h2 class="Title-skillsSecond">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</h2>
			</div>
			<div class="Skills-cardCommon">
				<div class="Skills-card">
					<div class="Skills-cardImage">
						<img src="images/Skills/webdesign.png">
					</div>
					<div class="Skills-cardContent">
						<div class="Skills-cardName">
							<h1 class="Text-cardSkillsName">Web design</h1>
						</div>
					</div>		
				</div>
				<div class="Skills-card">
					<div class="Skills-cardImage">
						<img src="images/Skills/html.png">
					</div>
					<div class="Skills-cardContent">
						<div class="Skills-cardName">
							<h1 class="Text-cardSkillsName">html / css</h1>
						</div>
					</div>		
				</div>
				<div class="Skills-card">
					<div class="Skills-cardImage">
						<img src="images/Skills/graphic.png">
					</div>
					<div class="Skills-cardContent">
						<div class="Skills-cardName">
							<h1 class="Text-cardSkillsName">Graphic design</h1>
						</div>
					</div>		
				</div>
				<div class="Skills-card">
					<div class="Skills-cardImage">
						<img src="images/Skills/uix.png">
					</div>
					<div class="Skills-cardContent">
						<div class="Skills-cardName">
							<h1 class="Text-cardSkillsName">ui / ux</h1>
						</div>
					</div>		
				</div>
			</div>
		</div>	
	</section>
	<section class="u-containerPortfolio">
		<div class="Portfolio">
			<div class="Portfolio-titleMain">
				<h1 class="Title-portfolio">Our portfolio</h1>
			</div>
			<div class="Portfolio-titleSecond">
				<h2 class="Title-portfolioSecond">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
				</h2>
			</div>
			<ul class="Portfolio-cat">
				<li class="Portfolio-catItemActive">
					<a class="Portfolio-catItemLink" href="#">All</a>
				</li>
				<li class="Portfolio-catItem">
					<a class="Portfolio-catItemLink" href="#">Web</a>
				</li>
				<li class="Portfolio-catItem">
					<a class="Portfolio-catItemLink" href="#">Apps</a>
				</li>
				<li class="Portfolio-catItem">
					<a class="Portfolio-catItemLink" href="#">Icons</a>
				</li>
			</ul>
			<div class="Portfolio-cardCommon">
				<div class="Portfolio-card">
					<div class="Portfolio-cardImage">
						<img src="../src/images/Portfolio/First.png">
					</div>
					<div class="Portfolio-cardContent">
						<div class="Portfolio-cardName">
							<h1 class="Text-cardPortfolioName">Isometric Perspective Mock-Up</h1>
						</div>
					</div>		
				</div>
				<div class="Portfolio-card">
					<div class="Portfolio-cardImage">
						<img src="../src/images/Portfolio/Second.png">
					</div>
					<div class="Portfolio-cardContent">
						<div class="Portfolio-cardName">
							<h1 class="Text-cardPortfolioName">Time Zone App UI</h1>
						</div>
					</div>		
				</div>
				<div class="Portfolio-card">
					<div class="Portfolio-cardImage">
						<img src="../src/images/Portfolio/Third.png">
					</div>
					<div class="Portfolio-cardContent">
						<div class="Portfolio-cardName">
							<h1 class="Text-cardPortfolioName">Viro Media Players UI</h1>
						</div>
					</div>		
				</div>
				<div class="Portfolio-card">
					<div class="Portfolio-cardImage">
						<img src="../src/images/Portfolio/Fourth.png">
					</div>
					<div class="Portfolio-cardContent">
						<div class="Portfolio-cardName">
							<h1 class="Text-cardPortfolioName">Blog / Magazine Flat UI Kit</h1>
						</div>
					</div>		
				</div>	
			</div>
			<div class="Portfolio-buttonContainer">
				<a href="#" class="Button-portfolio">Load more projects</a>
			</div>
		</div>	
	</section>
	<section class="u-containerTestimonials">
		<div class="Testimonials">
			<div class="Testimonials-titleMain">
				<h1 class="Title-testimonials">What people say about us</h1>
			</div>
			<div class="Testimonials-titleSecond">
				<h2 class="Title-testimonialsSecond">Our clients love us!
				</h2>
			</div>
			<div class="Testimonials-cardCommon">
				<div class="Testimonials-card">
					<div class="Testimonials-cardImage">
						<img src="../src/images/photo.png" class="Testimonials-cardImage--modif">
					</div>
					<div class="Testimonials-cardContent">
						<div class="Testimonials-cardSpeech">
							<p class="Text-cardTestimonialsSpeech">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
						</div>
						<div class="Testimonials-cardName">
							<h1 class="Text-cardTestimonialsName">Chanel Iman</h1>
						</div>
						<div class="Testimonials-cardDescription">
							<h1 class="Text-cardTestimonialsDescription">CEO of Pinterest</h1>
						</div>
					</div>		
				</div>
				<div class="Testimonials-card">
					<div class="Testimonials-cardImage">
						<img src="../src/images/photo.png" class="Testimonials-cardImage--modif">
					</div>
					<div class="Testimonials-cardContent">
						<div class="Testimonials-cardSpeech">
							<p class="Text-cardTestimonialsSpeech">“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”</p>
						</div>
						<div class="Testimonials-cardName">
							<h1 class="Text-cardTestimonialsName">Adriana Lima</h1>
						</div>
						<div class="Testimonials-cardDescription">
							<h1 class="Text-cardTestimonialsDescription">Founder of Instagram</h1>
						</div>
					</div>		
				</div>
				<div class="Testimonials-card">
					<div class="Testimonials-cardImage">
						<img src="../src/images/photo.png" class="Testimonials-cardImage--modif">
					</div>
					<div class="Testimonials-cardContent">
						<div class="Testimonials-cardSpeech">
							<p class="Text-cardTestimonialsSpeech">“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”</p>
						</div>
						<div class="Testimonials-cardName">
							<h1 class="Text-cardTestimonialsName">Anne Hethaway</h1>
						</div>
						<div class="Testimonials-cardDescription">
							<h1 class="Text-cardTestimonialsDescription">Lead Designer at Behance</h1>
						</div>
					</div>		
				</div>
				<div class="Testimonials-card">
					<div class="Testimonials-cardImage">
						<img src="../src/images/photo.png" class="Testimonials-cardImage--modif">
					</div>
					<div class="Testimonials-cardContent">
						<div class="Testimonials-cardSpeech">
							<p class="Text-cardTestimonialsSpeech">“Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.”</p>
						</div>
						<div class="Testimonials-cardName">
							<h1 class="Text-cardTestimonialsName">Emma Stone</h1>
						</div>
						<div class="Testimonials-cardDescription">
							<h1 class="Text-cardTestimonialsDescription">CO founder of Shazam</h1>
						</div>
					</div>		
				</div>
			</div>
		</div>	
	</section>
	<section class="u-containerGetintouch">
		<div class="Getintouch">
			<div class="Getintouch-titleMain">
				<h1 class="Title-getintouch">Get in touch</h1>
			</div>
			<div class="Getintouch-titleSecond">
				<h2 class="Title-getintouchSecond">1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
				</h2>
			</div>
			<div class="Getintouch-input">
				<div class="Getintouch-inputContTop">
					<div class="Getintouch-inputItem">
						<input type="text" name="Name" placeholder="Your name" class="Getintouch-inputItem--modif">
					</div>
					<div class="Getintouch-inputItem">
						<input type="email" name="Email" placeholder="Your email" class="Getintouch-inputItem--modif">
					</div>
				</div>
				<div class="Getintouch-inputContBottom">
					<div class="Getintouch-message">
						<textarea class="Getintouch-message--modif">Your message</textarea> 
					</div>
				</div>
				<div class="Getintouch-buttonContainer">
					<a href="#" class="Button-getintouch">Send message</a>
				</div>
			</div>
		</div>	
	</section>
	<footer class="u-containerFooter">
		<div class="Footer">
			<div class="Footer-nav">
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">Facebook</a>
				</div>
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">Twitter</a>
				</div>
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">Google+</a>
				</div>
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">LinkedIn</a>
				</div>
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">Behance</a>
				</div>
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">Dribble</a>
				</div>
				<div class="Footer-navItem">
					<a href="#" class="Footer-navItemLink">GitHub</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>